<!DOCTYPE HTML>
<html ng-app="EncuestaApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cuestionario con AngularJS</title>
    <script src="js/angular.js"></script>
    <script src="js/angular-ui.js"></script>
    <script src="js/script.js"></script>
    <link type="text/css" rel="stylesheet" href="css/test.css"/>
</head>
<body>

<div id="test" ng-controller="TestController">
    <h1>Ejemplo de cuestionario utilizando AngularJS</h1>
    <img src="img/AngularJS-logo.png" alt="AngularJS" class="logoAngularJS"/>
    <div class="questions">
        <div class="question" ng-repeat="question in questions">
            <p class="status-{{question.status}}">{{question.text}}</p>
            <div class="answers" ng-repeat="answer in question.answers">
                <input type="radio" ng-model="question.userAnswer" value="{{answer.id}}"
                       name="question-{{question.id}}" id="answer-{{question.id}}-{{answer.id}}" ng-change="validate(question)"/>
                <label for="answer-{{question.id}}-{{answer.id}}">{{answer.text}}</label>
            </div>
        </div>
    </div>
    <div class="userStatus {{userStatus}}">
        <span>Has acertado {{validAnswers}} de {{questions.length}}</span>
    </div>
</div>

</body>
</html>